# ===================
# DOMAINS
# ===================
N8N_HOST=n8n.yourdomain.com
WAHA_HOST=waha.yourdomain.com

# ===================
# GENERAL
# ===================
TIMEZONE=America/Sao_Paulo
SSL_EMAIL=your@email.com
